NEXT_PUBLIC_SUPABASE_URL=https://wasghgqpcmvfqfaylkfq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indhc2doZ3FwY212ZnFmYXlsa2ZxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA2OTgyMjgsImV4cCI6MjA5NjI3NDIyOH0.qMIBXA1rfdSG6nGw4e5t_KQg5MqrFp2gQqg3ZsDhvUM
NEXT_PUBLIC_SITE_URL=http://localhost:3000
